streams.bootstrap.servers=127.0.0.1:19092
streams.state.dir=/tmp/instance-data-2
streams.num.stream.threads=5
streams.client.id=app2
streams.num.standby.replicas=1

streams.heartbeat.interval.ms=80000
streams.session.timeout.ms=240000
streams.max.poll.interval.ms=240000
streams.transaction.timeout.ms=70000

http.server.port=28080